<% provide:title,t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  The <%= link_to t(".rails"), Settings.a%><em></em></a> is a
  <%= link_to "book",Settings.a_book%></a> and
  <%= link_to "screencast series",Settings.b%></a>
  to teach web development with
  <%= link_to t(".ruby"),Settings.c%></a>.
  This is the sample application for the tutorial.
</p>
